
.ola{
    //padding: 20px 200px 20px 200px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    color: white;
    border-radius: 50% 10px 50% 10px;
    background-color: #1E90FF;
    border: 1px solid rgb(75, 204, 255);
    transition: background 2s, border-radius 1s, border 1s;
    will-change: background, border-radius, border;
}

.ola:hover{
    background: #0be088;
    border-radius: 0 50% 0 50%;
    border: 1px solid rgb(41, 212, 41);
    
}
