
.ola{
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 50px; 
    padding-right: 50px; 
    border-radius: 50px 15px 50px 15px;
    border: none;
    color: white;
    background-color: green;
    transition: background 1s, border-radius 1s, color 1s;
    will-change: background, border-radius;
}
.ola:hover{
    background: darkblue;
    border-radius: 15px 50px 15px 50px;
    color: yellowgreen;
    
    
}